@import "https://fonts.googleapis.com/css2?family=Roboto";
/* Gruvbox dark, hard by Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox) */
html, body {
  font-family: "Roboto";
  background-color: #1d2021;
  color: #bdae93;
}

a {
  text-decoration: none;
  color: #bdae93;
}

h2 {
  color: #fabd2f;
}

.page {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: space-around;
}

.category .rows {
  display: grid;
  grid-row-gap: 4px;
  grid-template-columns: 30px auto;
}
.category .rows .separator {
  border-top: 1px solid #504945;
  margin-top: 8px;
  margin-bottom: 8px;
  grid-column: 1/span 2;
}

.navigation {
  position: fixed;
  bottom: 0;
  padding: 8px;
  width: 100%;
  display: flex;
  gap: 32px;
  justify-content: center;
}
