<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ startpage.name }}</title>

    <link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="public/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="public/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="public/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="public/favicon/site.webmanifest" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
    />

    <link rel="stylesheet" type="text/css" href="css/styles.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <h1 class="visually-hidden">{{ startpage.name }}</h1>
    <main class="page">
      {%- for column in startpage.columns %}
      <div class="column">
        {%- for category in column.categories %}
        <section class="category">
          <h2>{{ category.name }}</h2>
          <ul class="rows">
            {%- for row in category.rows %}
            {%- if row == "Separator" %}
            <li class="separator" role="separator"></li>
            {%- else %}
            <li>
              <a class="row" href="{{ row.Link.url | safe }}">
                <span class="ico" aria-hidden="true">{{ row.Link.ico | safe }}</span
                ><span class="lbl">{{ row.Link.lbl }}</span>
              </a>
            </li>
            {%- endif %}
            {%- endfor %}
          </ul>
        </section>
        {%- endfor %}
      </div>
      {%- endfor %}
    </main>
    <nav class="navigation" aria-label="Startpages">
      {%- for nav in navigation %}
      {%- if nav.name == startpage.name %}
      <a href="{{ nav.path | safe }}" class="current" aria-current="page">{{ nav.name }}</a>
      {%- else %}
      <a href="{{ nav.path | safe }}">{{ nav.name }}</a>
      {%- endif %}
      {%- endfor %}
    </nav>
  </body>
</html>
